/* CUSTOM-PROPS */
:root{
  --main-light-text-color:#fff;
  --main-dark-text-color:#111517;
  --main-light-bg-color:#F2F2F2;
  --main-dark-bg-color:#F2F2F2;
  --cards-light-bg-color:#fff;
  --cards-dark-bg-color:#2B3844;
}

/* GLOBAL */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Nunito Sans', "Arial", sans-serif;
  background-color: var(--main-light-bg-color);
  color: var(--main-dark-text-color);
}

img{
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--cards-light-bg-color);
}

.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header-heading {
  margin: 0;
  margin-right: auto;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.dark-mode-toggle {
  display: flex;
  align-items: center;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  background-color: transparent;
  color: var(--main-dark-text-color);
}
.dark-mode-toggle-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: inline-block;
  margin-right: 8px;
}
/* BACKGROUND-IMAGE FOR RETINA SCREENS */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}